.select2-container {
    position: relative;
    margin: 0;
    margin-bottom: .5rem;
    box-sizing: border-box;
    display: inline-block;
    vertical-align:middle
}

.select2-container .select2-selection--single {
    box-sizing: border-box;
    cursor: pointer;
    display: block;
    height: 38px;
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    border-radius: .25rem;
    border-width: 1px;
    --tw-shadow: 0 1px 3px 0 rgb(0 0 0 / 0.1), 0 1px 2px -1px rgb(0 0 0 / 0.1);
    --tw-shadow-colored: 0 1px 3px 0 var(--tw-shadow-color), 0 1px 2px -1px var(--tw-shadow-color);
    box-shadow:var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow)
}

.select2-container .select2-selection--single .select2-selection__rendered {
    display: block;
    height: 1.5rem;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    color: #0b0f0b;
    padding-top: .35rem;
    padding-left: .35rem;
    padding-right:1.5rem
}

.select2-container .select2-selection--single .select2-selection__rendered:is(.dark *) {
    display: block;
    height: 1.5rem;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    color: #f1f4f1;
    padding-top: .35rem;
    padding-left: .35rem;
    padding-right:1.5rem
}

.select2-container .select2-selection--single .select2-selection__clear {
    position: relative;
    margin:-.25rem
}

.select2-container .select2-selection--multiple {
    box-sizing: border-box;
    display: block;
    height: 1rem;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    overflow:hidden
}

.select2-container .select2-selection--multiple .select2-selection__rendered {
    display: inline-block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    padding-left:.5rem
}

.select2-container .select2-search--inline {
    float:left
}

.select2-container .select2-search--inline .select2-search__field {
    margin-top: .25rem;
    margin-bottom: .25rem;
    box-sizing: border-box;
    width: 100%;
    border-width: 1px;
    padding-left: .25rem;
    font-size: 1rem;
    line-height:1.5rem
}

.select2-container .select2-search--inline .select2-search__field:is(.dark *) {
    --tw-border-opacity: 1;
    border-color:rgb(75 85 99 / var(--tw-border-opacity))
}

.select2-container .select2-search--inline .select2-search__field::-webkit-search-cancel-button {
    -webkit-appearance: none;
    appearance:none
}

.select2-dropdown {
    position: absolute;
    z-index: 50;
    float: left;
    box-sizing: border-box;
    display: block;
    left: -100000px;
    width: 100%;
    border-width: 1px;
    border-style: solid;
    --tw-border-opacity: 1;
    border-color: rgb(229 231 235 / var(--tw-border-opacity));
    --tw-bg-opacity: 1;
    background-color:rgb(255 255 255 / var(--tw-bg-opacity))
}

.select2-dropdown:is(.dark *) {
    --tw-bg-opacity: 1;
    background-color:rgb(51 65 85 / var(--tw-bg-opacity))
}

.select2-results {
    display: block;
    --tw-text-opacity: 1;
    color:rgb(0 0 0 / var(--tw-text-opacity))
}

.select2-results:is(.dark *) {
    --tw-text-opacity: 1;
    color:rgb(209 213 219 / var(--tw-text-opacity))
}

.select2-results__options {
    margin: 0;
    list-style-type: none;
    padding:0
}

.select2-results__option {
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    padding:.25rem
}

.select2-results__option[aria-selected] {
    cursor:pointer
}

.select2-container--open .select2-dropdown {
    left: 0;
    margin-top:.75rem
}

.select2-container--open .select2-dropdown--above {
    border-radius: .25rem;
    --tw-border-opacity: 1;
    border-color: rgb(156 163 175 / var(--tw-border-opacity));
    --tw-shadow: 0 1px 3px 0 rgb(0 0 0 / 0.1), 0 1px 2px -1px rgb(0 0 0 / 0.1);
    --tw-shadow-colored: 0 1px 3px 0 var(--tw-shadow-color), 0 1px 2px -1px var(--tw-shadow-color);
    box-shadow:var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow)
}

.select2-container--open .select2-dropdown--above:is(.dark *) {
    --tw-border-opacity: 1;
    border-color:rgb(55 65 81 / var(--tw-border-opacity))
}

.select2-container--open .select2-dropdown--below {
    border-radius: .25rem;
    --tw-border-opacity: 1;
    border-color: rgb(156 163 175 / var(--tw-border-opacity));
    --tw-shadow: 0 1px 3px 0 rgb(0 0 0 / 0.1), 0 1px 2px -1px rgb(0 0 0 / 0.1);
    --tw-shadow-colored: 0 1px 3px 0 var(--tw-shadow-color), 0 1px 2px -1px var(--tw-shadow-color);
    box-shadow:var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow)
}

.select2-container--open .select2-dropdown--below:is(.dark *) {
    --tw-border-opacity: 1;
    border-color:rgb(55 65 81 / var(--tw-border-opacity))
}

.select2-search--dropdown {
    display: block;
    padding:.5rem
}

.select2-search--dropdown .select2-search__field {
    box-sizing: border-box;
    height: 2.5rem;
    border-radius: .25rem;
    border-width: 2px;
    --tw-border-opacity: 1;
    border-color: rgb(147 197 253 / var(--tw-border-opacity));
    --tw-bg-opacity: 1;
    background-color: rgb(255 255 255 / var(--tw-bg-opacity));
    padding: .25rem;
    outline: 2px solid transparent;
    outline-offset:2px
}

.select2-search--dropdown .select2-search__field:is(.dark *) {
    --tw-border-opacity: 1;
    border-color: rgb(55 65 81 / var(--tw-border-opacity));
    --tw-bg-opacity: 1;
    background-color: rgb(100 116 139 / var(--tw-bg-opacity));
    --tw-text-opacity: 1;
    color:rgb(229 231 235 / var(--tw-text-opacity))
}

.select2-search--dropdown .select2-search__field {
    width: 100%;
    height:40px
}

.select2-search--dropdown .select2-search__field::-webkit-search-cancel-button {
    -webkit-appearance: none;
    appearance:none
}

.select2-search--dropdown.select2-search--hide {
    display:none
}

.select2-close-mask {
    margin: 0;
    display: block;
    width: 3rem;
    min-width: 100%;
    padding: 0;
    border: 0;
    position: fixed;
    left: 0;
    top: 0;
    min-height: 100%;
    height: auto;
    width: auto;
    opacity: 0;
    z-index: 99;
    background-color:#fff
}

.select2-hidden-accessible {
    border: 0 !important;
    clip: rect(0 0 0 0) !important;
    clip-path: inset(50%) !important;
    height: 1px !important;
    overflow: hidden !important;
    padding: 0 !important;
    position: absolute !important;
    width: 1px !important;
    white-space: nowrap !important
}
